Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Pluto.exe
*.sln
.vs/
*.vcxproj.user
Content/ParagonRevenant/
Content/FirstPerson/
Content/FirstPersonArms/
Content/FPWeapon/
Content/ControlRig/
